{% extends "main_format_en.html" %}
{% block content %}
<h3 class="col-md-12" style="text-align: center;">Category: {{ cat_name }}</h3>
{% for article in articles %}
<div style="padding-top: 20px;" onmouseover="selected(this)" onmouseout="unselected(this)">
    <a href="/article_en/{{article.pk}}">
        <div class="col-md-12">
            <h5 style="display: inline;">{{article.title}}</h5>
            <span style="float:right;margin-right:5%"> Create Time: {{article.create_time}}</span>
        </div>
        <div class="col-md-12">
            <p>{{ article.summary }}</p>
        </div>
    </a>
    <div class="line"></div>
    {% empty %}
    <div>No Article Found</div>
</div>
{% endfor %}
<script type="text/javascript">
    var tag_id='all';
    window.onload=on_current(tag_id);
</script>
{% endblock %}